@using Napoleon.UserModule.Model
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<div style="padding: 15px;">
    <form id="editUserForm" method="post" data-options="novalidate:true">
        @{
            SystemUser user = (SystemUser) ViewData["User"];
            <table class="tableContent">
                <tr>
                    <td class="tableName">用户账号:</td>
                    <td class="tableValue">
                        <input name="userName" readonly="readonly" class="easyui-textbox" type="text" value="@user.UserName" data-options="required:true" />
                    </td>
                    <td class="tableName">真实姓名:</td>
                    <td class="tableValue">
                        <input name="realName" readonly="readonly" class="easyui-textbox" type="text" value="@user.RealName" data-options="required:true" />
                    </td>
                </tr>
                <tr>
                    <td class="tableName">联系电话:</td>
                    <td class="tableValue">
                        <input id="mobilePhone" readonly="readonly" name="mobilePhone" value="@user.MobilePhone" class="easyui-textbox" type="text" />
                    </td>
                    <td class="tableName">是否启用:</td>
                    <td class="tableValue">
                        <input id="isUse" readonly="readonly" name="isUse" value="@user.IsUse" class="easyui-textbox" type="text" data-options="required:true" />
                    </td>
                </tr>
                <tr>
                    <td class="tableName">用户地址:</td>
                    <td class="tableValue">
                        <input name="userAddress" readonly="readonly" value="@user.UserAddress" class="easyui-textbox" type="text" />
                    </td>
                    <td class="tableName">排序:</td>
                    <td class="tableValue">
                        <input name="sort" readonly="readonly" value="@user.Sort" class="easyui-numberbox" precision="2" type="text" />
                    </td>
                </tr>
                <tr>
                    <td class="tableName">备注:</td>
                    <td colspan="3" class="tableValue">
                        <input name="remark" readonly="readonly" style="height: 60px; width: 100%;" value="@user.Remark" class="easyui-textbox" type="text" data-options="multiline:true" />
                    </td>
                </tr>
            </table>
        }
    </form>
</div>
<script type="text/javascript">
    seajs.use("PublicFunc/Easyui", function (easyui) {
        $(function () {
            easyui.LoadCombobox("#isUse", '/User/LoadIsUse');
        });
    });
</script>
